<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>クランバトル編成DB</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <!-- ヘッダーをheader.ejsから読み込む-->
    <%- include('header'); %>

    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">クランバトル補助アプリ</h2>
        <h1 class="title">クランバトルDB</h1>
        <p class="description">
          クランバトル編成DBは，PrincessConnectReDive!のクランバトルの編成をまとめ，目的の編成を検索したりできるアプリです．
          <br>
          <h3>出来ること</h3>
          ・編成の検索<br>
          ・凸ルート検索（3凸2凸1凸）<br>
          ・編成の登録<br>
          ・編成の削除<br>
          <h3>実装予定</h3>
          ・編成の編集<br>
          ・動画からの簡易編成登録<br>
          ・持越編成検索<br>
          ・ログイン
        </p>
        <br>
        <a href="/index" class="index-button">編成を検索する</a>
      </div>

    </div>
  </body>
</html>